body{
    font-family: sans-serif;
}
input{
    width: 100%;
    height: 30px;
    float: left;
}

button{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: #4fefa5;
    border: none;
    border-radius: 4px;

}
select{
    width: 80%;
    float: left;
    margin: 2PX;
    height: 40px; 
}

.main{
    margin: auto;
    width: 50%;
    margin: auto;
}

#rta{
    font-weight: bold;
}
#lista{
    list-style: none;
    letter-spacing: 23px;
}

.rojo{
    background-color: red;
}

span{
    background-color:#d8d8d8;
}